.korean-beef-bowl {
    background: pink;
    font-size: 40px;
    border: 5px solid rgb(211, 91, 31);
    padding: 32px;
    margin: 12px;
    text-align: center;
}

.honey-glazed-chicken {
    background: pink;
    font-size: 40px;
    border: 5px solid rgb(211, 91, 31);
    padding: 32px;
    margin: 12px;
    text-align: center;
}

.salmon-tacos-with-mango-salsa {
    background: pink;
    font-size: 40px;
    border: 5px solid rgb(211, 91, 31);
    padding: 32px;
    margin: 12px;
    text-align: center;
}